@media screen and (min-width:319px) and (max-width: 767.98px) {
    .wtf-btns-container {
        display: grid !important;
        position: relative;
        top: 200px;
        left: 0%;
        margin-right: 25px;

    }

    #home-images-div {
        top: 15%;
        left: 0%;

    }

    h1 {
       font-size: 25px;

    }

    #home-h3 {
font-size: 18px;



    }

    #home-p {
       font-size: 15px;
    }
}


@media screen and (min-width: 767.98px) and (max-width: 991.98px) {
    #home-images-div {
        top: 45%;
        left: 0%;

    }
}


@media screen and (min-width: 991.98px)and (max-width: 1199.98px) {
    #home-images-div {
        top: 45%;
        left: 10%;

    }

    h1 {


        font-size: 65px;

    }

    

    #home-p {

        font-size: 20px;

    }
}


@media screen and (min-width: 1199.98px)and (max-width:1930px) {
    h1 {

        font-size: 75px;

    }

    

    #home-p {

        font-size: 22px;

    }
}